{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
<div class="group-control">
  <label for="username" class="form-control">Username</label>
  <input type="text" class="form-control" name="username" />
</div>

{% endblock %}
